@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  /* Caso o usuario tenha marcado no dispositivo como thema dark */
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  max-width: 520px !important;
  height: fit-content !important;
  width: 100% !important;
  padding: 10px 15px !important;
  background-color: rgba(33, 58, 92, 0.63) !important;
  border: 1px solid #213a5c !important;
  color: #fff !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-radius: 20px !important;
}

input::placeholder {
  color: #fff !important;
}

.error-message {
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
}
